<br>

<h3 style="color:rgba(255,251,240,0.5);">Welcome to Richard's  app</h3>

<h5 style="color:rgba(255,251,240,0.5);">Here is my <a href="/bio" style="color:rgba(255,251,240,0.5);">bio</a></h5>

<h5 style="color:rgba(255,251,240,0.5);">Here is my <a href="/views" style="color:rgba(255,251,240,0.5);">page view</a></h5>

