  <div class="row"> 
        <div class="col-sm-5">
            <h3 style="color:rgba(255,251,240,0.5);">Login</h3>
            <form style="color:rgba(255,251,240,0.5);" method="post" action="/login">
                username: <input type="text"
                                 autocomplete="username"
                                 name="username"><br>
                passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"><br>
                <input type="submit">
            </form>
        </div>

   <h5 style="color:rgba(255,251,240,0.5);">don't have an account?</h5><a href="/signup" style="color:rgba(255,251,240,0.5);">sign up here</a>

