  <div class="row">
        <div class="col-sm-5">
            <h3 style="color:rgba(255,251,240,0.5);">Signup</h3>
            <form style="color:rgba(255,251,240,0.5);" method="post" action="/signup">
                username: <input type="text" autocomplete="username" name="username"><br>
                password
                   <input type="password" autocomplete="passphrase" name="passphrase"><br>
                confirm password:
                    <input type="password" name="passphrase2"><br>
              
                age: <input type="number" name="age"><br>
                <input type="submit" >      
            </form>
        </div>
    </div>


