<h3  style="color:rgba(255,251,240,0.5);">Page views</h1>

<form  style="color:rgba(255,251,240,0.5);" method="post" action="/views">
    Enter the article: <input type="text" style="color:rgba(255,251,240,0.5);" name="article"><br>
    Enter the start time: <input type="text" style="color:rgba(255,251,240,0.5);" name="starttime"><br>
    Enter the end time: <input type="text" style="color:rgba(255,251,240,0.5);" name="endtime"><br>
    <input type="submit">
</form>